<footer class="footer">
  <div class="footer_info container">
    <div class="footer_logo">
      <img src="{{ site.data.styling.logo }}" 
            width="120"
            alt="{{ site.title }} logo">

      <h1 class="footer_logo-title">{{ site.title }}</h1>
    </div>
  
    <!-- <ul class="footer_links row">
      {% for link in site.data.footer.links %}
        <li class="link col-4 col-md-2">
          <a href="{{ link.url }}">{{ link.text }}</a>
        </li>
      {% endfor %}
    </ul> -->
  </div>  
  
  <div class="footer-rights">
    <div class="container">
      <p>
        copyright © {{ site.title }} {{ 'now' | date: "%Y" }}. all rights reserved.
      </p>
    </div>
  </div>
</footer>
