<section class="hero">
  <div class="hero-inside container">
    <div class="row align-items-center vh-100">
      <header class="hero_header col-lg-5">
        <img src="{{ site.data.styling.logo }}" 
              class="hero_logo"
              alt="{{ site.title }} logo">
      
        <h1 class="hero_logo-title">{{ site.title }}</h1>
      </header>
  
      <div class="col-lg-7">
        <h2 class="hero_title">Proprietary Trading <span class="text--secondary">Renaissance</span></h2>
        
        <p class="text-align--justify">The Next Step. Joining forces, FCT Europe and AXIA Futures bring the best of professional proprietary trading services, trader training and support systems to recreate itself as an industry leader across the continent.</p>
      </div>

      {% include scroll-more.html %}
    </div>
  </div>
</section>


