<section class="container">
  <div class="plans row">
    {% for plan in site.data.plans %}
    <div class="plan col-12 col-lg-4 px-4 border-primary {% if forloop.last == false %} border-lg-end {% endif %}">
      <h1 class="plan_title stamp_logo stamp_logo--sm">{{ plan.title }}</h1>
      
      <div class="plan_body">
        <h2 class="plan_subtitle">{{ plan.subtitle }}</h2>
        <p class="plan_description">{{ plan.description }}</p>

        <a href="mailto:{{ plan.email }}" class="">{{ plan.email }}</a>
      </div>
    </div>
    {% endfor %}
  </div>
</section>


