<div class="scroll-more-lg">
  <div class="scroll-more-holder">
    <div class="mouse">
      <div class="mouse-button">&nbsp;</div>
    </div>
    
    <div class="text">SCROLL DOWN <br> TO EXPLORE MORE</div>
  </div>
</div>
