.stamp {

  &_logo {

    &:before {

      display: block;
  
      content: ' ';

      margin: 0 auto;
  
      background-image: var(--logo);
      background-repeat: no-repeat;
      background-size: contain;
    }

    &--xs:before {
  
      --side: 2.5rem;
  
      width: var(--side);
      height: var(--side);
    }

    &--sm:before {
  
      --side: 3rem;
  
      width: var(--side);
      height: var(--side);
    }

    &--md:before {
  
      --side: 4.5rem;
  
      width: var(--side);
      height: var(--side);
    }

    &--lg:before {
  
      --side: 5rem;
  
      width: var(--side);
      height: var(--side);
    }

    &--xl:before {
  
      --side: 7rem;
  
      width: var(--side);
      height: var(--side);
    }
  }
}
