@keyframes mouse-scroll {
  to {
    transform: translate(0, 6px) scale(1, 0.8);
  }
}

.scroll-more {

  &-md,
  &-lg {

    display: none;
  
    position: absolute;
    bottom: 10%;

    .scroll-more-holder {

      margin: auto;
      margin-top: 60px;
      width: 170px;
  
      .mouse {
        width: 26px;
        height: 40px;
        position: relative;
        right: 0;
        border-radius: 18px;
        border: 2px solid white;
      }
      
      .mouse-button {
        background-color: white;
        width: 4px;
        height: 10px;
        border-radius: 2px;
        position: absolute;
        top: 10px;
        left: 50%;
        margin: 0 0 0 -2px;
        animation: mouse-scroll 1s infinite alternate;
      }
      
      .text {
        text-transform: uppercase;
        margin-top: -30px;
        margin-left: 40px;
        color: white;
        font-size: 12px;
        line-height: 1em;
      }
    }
  }

  @media (min-width: 768px) {
    &-md {

      display: block;
    }
  }

  @media (min-width: 992px) {
    &-lg {

      display: block;
    }
  }
}
