<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <main>
      {{ content }}
    </main>

    {% include footer.html %}

    <script src='{{ site.baseurl}}/assets/js/main.js'></script>
  </body>
</html>
