.footer {

  position: relative;

  color: white;
  text-align: center;
  text-transform: uppercase;

  &::before,
  &::after {

    z-index: -1;

    position: absolute;

    content: "";

    top: 0; 
    left: 0;

    width: 100%; 
    height: 100%;
  }

  &::before {

    background-image: url($baseurl + "/assets/img/bg-building.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
  }

  &::after {

    background-color: rgba($color-primary, 0.9);
  }

  &-inside {

    /* This will make it stack on top of the ::before */
    position: relative;

    height: 100%;
  }

  &-rights {

    background-color: rgba(0,0,0,0.65);
    padding: 2rem 0;

    p {

      margin: 0;
    }
  }

  &_logo {

    text-align: center;
    margin: 2rem 0;

    &-title {

      font-size: 0.8rem;
    }
  }

  &_links {

    padding: 0;
    margin: 0;
    list-style: none;
  }

  &_info {

    padding: 0.1rem;

    @media (min-width: 768px) {
      
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
