.hero {

  position: relative;
  height: 100vh;
  color: white;

  &::before,
  &::after {

    z-index: -1;

    position: absolute;

    content: "";

    top: 0; 
    left: 0;

    width: 100%; 
    height: 100%;
  }

  &::before {

    background-image: url($baseurl + "/assets/img/bg-building.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  &::after {

    background-color: rgba($color-primary, 0.9);
  }

  &-inside {

    /* This will make it stack on top of the ::before */
    position: relative;

    height: 100%;
  }

  &_header,
  &_logo-title,
  &_title {

    text-transform: uppercase;
    text-align: center;
  }

  &_logo {

    width: 130px;

    &-title {

      font-size: 1.5rem;

      @media (min-width: 576px) {
  
        font-size: 2rem;
      }
    }

    @media (min-width: 576px) {

      width: 250px;
    }
  }

  &_title {

    font-size: 1.6rem;
    font-family: sans-serif;
    font-weight: 900;

    @media (min-width: 576px) {

      font-size: 1.7rem;
    }
  }
}
