.plans {
  margin: 3rem 0;
}

.plan {

  margin-bottom: 3rem;
  

  &_subtitle,
  &_title {

    text-transform: uppercase;
  }

  &_title {

    text-align: center;
    margin-bottom: 1rem;

    @media (min-width: 992px) {
      
      font-size: 1.7rem;
    }
  }

  &_subtitle {

    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 600;
  }

  &_description {

    text-align: justify;
  }
}
