body {

  font-family: "DejaVu Sans", sans-serif;
}

h1, h2 {

  font-family: 'Raleway Thin', sans-serif;
}

a {
  text-decoration: none;
  color: #91620a;

  &:hover {

    color: #4f3910;
  }
}


 
